{
  "extends": "@remix-run/eslint-config",
  // override some stuff to be more compatible with nx era setup
  // these should be re-enabled when we have time to address it
  "rules": {
    "@typescript-eslint/consistent-type-imports": "off",
    "react/jsx-key": "off",
    "jsx-a11y/anchor-has-content": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/iframe-has-title": "off"

  }
}
