SENTRY_DSN=some_fake_dsn

# Feature: all content pages
# Mocked: yes
BOT_GITHUB_TOKEN=1a2b3c4d5e6f7g8g9i0j

# Feature: authentication
# Mocked: Unnecessary (any value can be used)
# Technically we have a fallback in development so this doesn't even need to be set
SESSION_SECRET=anything_works_here

# If you're running the postgres db from docker-compose then this is the URL you should use
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/flow_docs_db?schema=public"

# If you're running the redis db from docker-compose then this is the URL you should use
REDIS_URL="redis://:flow_docs@localhost:6379"

# Feature: /action/refresh-cache
# Mocked: unnecessary (any value can be used)
REFRESH_CACHE_SECRET=really_whatever

